---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header";
import ContactPage from "../components/ContactPage";
import { en } from "../i18n/en";

const pathname = Astro.url.pathname;
---

<MainLayout t={en} title="Contact | Globfest">
  <Header t={en} currentLang="en" pathname={pathname} client:load />
  <main>
    <ContactPage t={en} client:load />
  </main>
</MainLayout>
